<p style="font-size:14px"> Հարգելի {{ fullName }},
համար Ձեր գաղտնաբառը վերականգնելու համար անցեք հետեւյալ հղումով, <br /> <br />
{{ link|raw }} </p>

<p style="font-size:12px"> Եթե դուք չեք պահանջել է գաղտնաբառի վերականգնումը, անտեսել այս նամակը: </p>
<hr />
<p style="font-size:12px;color: gray"> &copy; </p>