<p style="font-size:14px">Dear {{ fullName }},
    for recovering your password please click the following link:
    <br/>
    <br/>
    {{ link|raw }}
</p>

<p style="font-size:12px">If you didn't request for password recovery - ignore this email.</p>
<hr/>
<p style="font-size:12px;color: gray"></p>