<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="author" content="KETSE">
    <meta name="description" content="Casebox">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ projectName }}</title>
    {{ styles|raw }}
    {{ javascript.header|raw }}
</head>

<body>

<div style="font-size:0px;color:white;z-index:-9;position:absolute;left:-999px">
</div>

<div id="loading">
    <div class="cmsg">
        <div class="msg" id="loading-msg">
            Loading …
        </div>
        <div class="lpb">
            <div id="lpt" style="width: 50%;"></div>
        </div>
    </div>

    <div id="stb" class="msgb" style="bottom:10px">
        <a href="https://www.casebox.org/">www.casebox.org</a> <span
                style="color: #AAA; padding-left: 2px; padding-right: 5px">&bull;</span> <a
                href="http://forum.casebox.org/">Support forum</a>
    </div>

    <div id="loadingError" class="cmsg" style="clear:left;display:none">
        <p style="font-size:larger;margin:40px 0">
            This is taking longer than usual. <b>Try reloading the page</b></a>.
        </p>

        <div>
            ...
        </div>
    </div>
</div>

{{ javascript.footer|raw }}

</body>
</html>

