<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="author" content="KETSE">
    <meta name="description" content="Casebox">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>ACF ECMRS - Electronic Case Record Management System</title>

<body onload="javascript: e = document.getElementById('u'); if (!e) {e = document.getElementById('c'); } e.focus(); editChanged();">

<div class="main">
    <div class="form_login tac">
        <a href="/" class="dib"><img alt="ACF ECMRS Logo" src="/css/i/CaseBox-Logo-medium.png" style="width: 300px"></a>
        <br>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}" id="error">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block form %}{% endblock %}
    </div>
</div>

<div class="footer" style="right: 0;">
    ECMRS V1.2
    <span style="color: #AAA; padding-left: 2px; padding-right: 5px">&bull;</span>
    <a href="mailto:Webmaster@ECMRS.com">Contact Helpdesk</a>
</div>
</body>
</html>