{% extends 'CaseboxCoreBundle::login.html.twig' %}

{% block form %}
    <div class="standart_form tal">
        <div class="alert alert-success">
            Message for password reset has been sent to your email.
            Please check your email to continue.
        </div>
        <a href="/c/{{ coreName }}" class="btn btn-info">Login</a>
    </div>
{% endblock %}