/* Minify_CSS_UriRewriter::$debugText

docRoot    : D:\devel\www\casebox2\web
currentDir : D:\devel\www\casebox2\web\css
symlinks : array (
  'D:\\devel\\www\\casebox2\\web\\generate.php' => 'D:\\devel\\www\\casebox2\\web\\min',
)

file-relative URI  : l/none-icon.png
path prepended     : D:\devel\www\casebox2\web\css\l\none-icon.png
docroot stripped   : \css\l\none-icon.png
traversals removed : /css/l/none-icon.png

*/

/* preview.css */

/* 1  */ @charset "utf-8";
/* 2  */ 
/* 3  */ table{
/* 4  */     font-family: arial,verdana,sans-serif;
/* 5  */     font-size: 12px;
/* 6  */ }
/* 7  */ 
/* 8  */ /*.preview * {font-size: 13px}*/
/* 9  */ .preview th, .preview td { padding-left: 10px; padding-right: 10px; color: #000000 !important }
/* 10 */ .preview table { border-bottom: 1px solid lightgray }
/* 11 */ .preview table.title th{ font-weight: bold; background-color: #eaeaea; padding: 3px 10px; height: 38px }
/* 12 */ .preview table.title th.file{ font-weight: normal; text-align: left; width: 1%; white-space: nowrap }
/* 13 */ .preview table.title th.file table{ border:0 }
/* 14 */ .preview table.title th.file td{ padding: 0;white-space: nowrap; vertical-align: top }
/* 15 */ .preview table.title td{ padding: 3px 10px }
/* 16 */ 
/* 17 */ /* preview thumb*/
/* 18 */ .preview-thumb {
/* 19 */ /*    opacity: 1;
/* 20 *|     transition: opacity .25s ease-in-out;
/* 21 *|     -o-transition: opacity .25s ease-in-out;
/* 22 *|     -moz-transition: opacity .25s ease-in-out;
/* 23 *|     -webkit-transition: opacity .25s ease-in-out;
/* 24 *| 
/* 25 *| */
/* 26 */     width: 128px;
/* 27 */     height: 128px;
/* 28 */     background-image: url(/css/l/none-icon.png);
/* 29 */     opacity: 1;
/* 30 */     transition: opacity .25s ease-in-out;
/* 31 */     -moz-transition: opacity .25s ease-in-out;
/* 32 */     -webkit-transition: opacity .25s ease-in-out;
/* 33 */     border: 1px solid #FFF;
/* 34 */     padding: 3px;
/* 35 */ }
/* 36 */ 
/* 37 */ .preview-thumb:hover {
/* 38 */     /*opacity: 0.5*/
/* 39 */     border: 1px solid #BBB;
/* 40 */     background-color: #edeff4;
/* 41 */     border-radius: 4;
/* 42 */ }
/* 43 */ 
/* 44 */ 
/* 45 */ /* Object Preview */
/* 46 */ table.obj-preview  {
/* 47 */     border-collapse: separate;
/* 48 */     width: 100%;
/* 49 */     /* border: 1px solid #DDD;
/* 50 *|     border-top: 0;*/

/* preview.css */

/* 51 */     border-bottom: 1px solid #DDD;
/* 52 */     border-spacing: 0;
/* 53 */     /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
/* 54 */     /*margin-bottom: 20px;*/
/* 55 */ }
/* 56 */ .external table.obj-preview  {
/* 57 */     width: auto;
/* 58 */     border-left: 1px solid #aeaeae;
/* 59 */     border-right: 1px solid #aeaeae;
/* 60 */ }
/* 61 */ 
/* 62 */ table.obj-preview > tbody > tr > td, table.obj-preview > tbody > tr > th {vertical-align: top; padding: 6px 7px; border-top: 1px solid #DDD}
/* 63 */ table.obj-preview tr.prop-header th {font-weight: bold; background-color: #F9F7ED; text-align: left;}
/* 64 */ .x-rtl table.obj-preview tr.prop-header th {text-align: right;}
/* 65 */ table.obj-preview td.prop-key {width: 30%; background-color: #F4F4F4}
/* 66 */ table.obj-preview td.prop-val {width: 70%}
/* 67 */ table.obj-preview p.prop-info {margin-top: 3px; color: #777; font-size: 11px}
/* 68 */ 
/* 69 */ .obj-preview-h {
/* 70 */     font-weight: bold;
/* 71 */     font-size: 12px;
/* 72 */     text-transform: uppercase;
/* 73 */     padding: 5px;
/* 74 */     margin-bottom: 7px;
/* 75 */     border-bottom: 2px solid #CCC;
/* 76 */ }
/* 77 */ 
/* 78 */ .obj-preview ol{list-style: decimal outside }
/* 79 */ .obj-preview ol li{margin-left:20px; }
/* 80 */ .obj-preview ul{list-style: square outside }
/* 81 */ .obj-preview ul li{margin-left:20px; }
/* 82 */ 
/* 83 */ 
/* 84 */ .obj-header {
/* 85 */     padding: 10px;
/* 86 */     font-size: 14px;
/* 87 */     /* font-weight: bold; */
/* 88 */     overflow: hidden;
/* 89 */ }
/* 90 */ 
/* 91 */ .obj-header > div.info {
/* 92 */     font-size: 12px;
/* 93 */     color: #444;
/* 94 */     padding: 2px 1px;
/* 95 */     margin-top: 4px;
/* 96 */ }
/* 97 */ 
/* Minify_CSS_UriRewriter::$debugText

docRoot    : D:\devel\www\casebox2\web
currentDir : D:\devel\www\casebox2\web\css
symlinks : array (
  'D:\\devel\\www\\casebox2\\web\\generate.php' => 'D:\\devel\\www\\casebox2\\web\\min',
)

file-relative URI  : i/ico/calendar-blue.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\calendar-blue.png
docroot stripped   : \css\i\ico\calendar-blue.png
traversals removed : /css/i/ico/calendar-blue.png

file-relative URI  : i/ico/task.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\task.png
docroot stripped   : \css\i\ico\task.png
traversals removed : /css/i/ico/task.png

file-relative URI  : i/ico/task-completed.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\task-completed.png
docroot stripped   : \css\i\ico\task-completed.png
traversals removed : /css/i/ico/task-completed.png

file-relative URI  : i/ico/calendar-task.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\calendar-task.png
docroot stripped   : \css\i\ico\calendar-task.png
traversals removed : /css/i/ico/calendar-task.png

file-relative URI  : i/ico/calendar--plus.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\calendar--plus.png
docroot stripped   : \css\i\ico\calendar--plus.png
traversals removed : /css/i/ico/calendar--plus.png

file-relative URI  : i/ico/calendar--minus.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\calendar--minus.png
docroot stripped   : \css\i\ico\calendar--minus.png
traversals removed : /css/i/ico/calendar--minus.png

file-relative URI  : i/ico/question-white.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\question-white.png
docroot stripped   : \css\i\ico\question-white.png
traversals removed : /css/i/ico/question-white.png

file-relative URI  : i/ico/tick.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\tick.png
docroot stripped   : \css\i\ico\tick.png
traversals removed : /css/i/ico/tick.png

file-relative URI  : i/cl/blue.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\blue.png
docroot stripped   : \css\i\cl\blue.png
traversals removed : /css/i/cl/blue.png

file-relative URI  : i/cl/gray.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\gray.png
docroot stripped   : \css\i\cl\gray.png
traversals removed : /css/i/cl/gray.png

file-relative URI  : i/cl/green.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\green.png
docroot stripped   : \css\i\cl\green.png
traversals removed : /css/i/cl/green.png

file-relative URI  : i/cl/maroon.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\maroon.png
docroot stripped   : \css\i\cl\maroon.png
traversals removed : /css/i/cl/maroon.png

file-relative URI  : i/cl/olive.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\olive.png
docroot stripped   : \css\i\cl\olive.png
traversals removed : /css/i/cl/olive.png

file-relative URI  : i/cl/orange.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\orange.png
docroot stripped   : \css\i\cl\orange.png
traversals removed : /css/i/cl/orange.png

file-relative URI  : i/cl/brown.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\brown.png
docroot stripped   : \css\i\cl\brown.png
traversals removed : /css/i/cl/brown.png

file-relative URI  : i/cl/peach.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\peach.png
docroot stripped   : \css\i\cl\peach.png
traversals removed : /css/i/cl/peach.png

file-relative URI  : i/cl/purple.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\purple.png
docroot stripped   : \css\i\cl\purple.png
traversals removed : /css/i/cl/purple.png

file-relative URI  : i/cl/red.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\red.png
docroot stripped   : \css\i\cl\red.png
traversals removed : /css/i/cl/red.png

file-relative URI  : i/cl/steel.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\steel.png
docroot stripped   : \css\i\cl\steel.png
traversals removed : /css/i/cl/steel.png

file-relative URI  : i/cl/teal.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\teal.png
docroot stripped   : \css\i\cl\teal.png
traversals removed : /css/i/cl/teal.png

file-relative URI  : i/cl/yellow.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\yellow.png
docroot stripped   : \css\i\cl\yellow.png
traversals removed : /css/i/cl/yellow.png

file-relative URI  : i/cl/darkblue.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkblue.png
docroot stripped   : \css\i\cl\darkblue.png
traversals removed : /css/i/cl/darkblue.png

file-relative URI  : i/cl/darkgray.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkgray.png
docroot stripped   : \css\i\cl\darkgray.png
traversals removed : /css/i/cl/darkgray.png

file-relative URI  : i/cl/darkgreen.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkgreen.png
docroot stripped   : \css\i\cl\darkgreen.png
traversals removed : /css/i/cl/darkgreen.png

file-relative URI  : i/cl/darkmaroon.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkmaroon.png
docroot stripped   : \css\i\cl\darkmaroon.png
traversals removed : /css/i/cl/darkmaroon.png

file-relative URI  : i/cl/darkolive.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkolive.png
docroot stripped   : \css\i\cl\darkolive.png
traversals removed : /css/i/cl/darkolive.png

file-relative URI  : i/cl/darkorange.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkorange.png
docroot stripped   : \css\i\cl\darkorange.png
traversals removed : /css/i/cl/darkorange.png

file-relative URI  : i/cl/darkpeach.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkpeach.png
docroot stripped   : \css\i\cl\darkpeach.png
traversals removed : /css/i/cl/darkpeach.png

file-relative URI  : i/cl/darkpurple.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkpurple.png
docroot stripped   : \css\i\cl\darkpurple.png
traversals removed : /css/i/cl/darkpurple.png

file-relative URI  : i/cl/darkred.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkred.png
docroot stripped   : \css\i\cl\darkred.png
traversals removed : /css/i/cl/darkred.png

file-relative URI  : i/cl/darksteel.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darksteel.png
docroot stripped   : \css\i\cl\darksteel.png
traversals removed : /css/i/cl/darksteel.png

file-relative URI  : i/cl/darkteal.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkteal.png
docroot stripped   : \css\i\cl\darkteal.png
traversals removed : /css/i/cl/darkteal.png

file-relative URI  : i/cl/darkyellow.png
path prepended     : D:\devel\www\casebox2\web\css\i\cl\darkyellow.png
docroot stripped   : \css\i\cl\darkyellow.png
traversals removed : /css/i/cl/darkyellow.png

*/

/* tasks.css */

/* 1   */ .icon-event{ background-image: url(/css/i/ico/calendar-blue.png) !important; background-position: 0 0%; background-repeat: no-repeat}
/* 2   */ 
/* 3   */ .icon-task{ background-image: url(/css/i/ico/task.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 4   */ .icon-task-completed{ background-image: url(/css/i/ico/task-completed.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 5   */ .task-completed, .icon-task-completed b, .icon-task-completed .n, .icon-task-completed em{ color: #777; text-decoration: line-through }
/* 6   */ .letter b em{font-weight: bold}
/* 7   */ 
/* 8   */ .icon-calendar-task{ background-image: url(/css/i/ico/calendar-task.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 9   */ .icon-calendar-task-plus{ background-image: url(/css/i/ico/calendar--plus.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 10  */ .icon-calendar-task-minus{ background-image: url(/css/i/ico/calendar--minus.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 11  */ 
/* 12  */ ul.tasks { display: block; clear: both; padding: 5px }
/* 13  */ ul.tasks li{ padding-left: 15px}
/* 14  */ 
/* 15  */ a.btn-task-complete { font-size: 12px; color: white; font-weight: bold}
/* 16  */ 
/* 17  */ .tasks-grid .icon-grid-column{background-position: 2px 2px !important}
/* 18  */ 
/* 19  */ .task-status{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 2px 5px}
/* 20  */ .task-status-active{ background-color: black; color: white}
/* 21  */ .task-status-closed{ background-color: #637626; color: white}
/* 22  */ .task-status-overdue{ background-color: #c00000; color: white}
/* 23  */ 
/* 24  */ .task-status00{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #D36E01; color: white; padding: 2px 5px} /*pending, not completed*/
/* 25  */ .task-status01{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: #D36E01; color: white; padding: 2px 5px} /*pending, completed*/
/* 26  */ .task-status10{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: black; color: white; padding: 2px 5px} /*active, not completed */
/* 27  */ .task-status11{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: green; color: white; padding: 2px 5px} /*active, completed */
/* 28  */ .task-status20{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: gray; color: yellow; padding: 2px 5px}/*closed, not completed*/
/* 29  */ .task-status21{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: gray; color: white; padding: 2px 5px}/*closed, completed*/
/* 30  */ 
/* 31  */ .icon-task-user-status0 { background-image: url(/css/i/ico/question-white.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 32  */ .icon-task-user-status1 { background-image: url(/css/i/ico/tick.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 33  */ 
/* 34  */ .task-missed{ border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background-color: red; color: white; padding: 3px 10px; text-align: center; font-weight: bold}/* missed */
/* 35  */ 
/* 36  */ .task-blue{ background-image: url(/css/i/cl/blue.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 37  */ .task-gray{ background-image: url(/css/i/cl/gray.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 38  */ .task-green{ background-image: url(/css/i/cl/green.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 39  */ .task-maroon{ background-image: url(/css/i/cl/maroon.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 40  */ .task-olive{ background-image: url(/css/i/cl/olive.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 41  */ .task-orange{ background-image: url(/css/i/cl/orange.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 42  */ .task-brown{ background-image: url(/css/i/cl/brown.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 43  */ .task-peach{ background-image: url(/css/i/cl/peach.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 44  */ .task-purple{ background-image: url(/css/i/cl/purple.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 45  */ .task-red{ background-image: url(/css/i/cl/red.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 46  */ .task-steel{ background-image: url(/css/i/cl/steel.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 47  */ .task-teal{ background-image: url(/css/i/cl/teal.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 48  */ .task-yellow{ background-image: url(/css/i/cl/yellow.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 49  */ 
/* 50  */ .task-darkblue{ background-image: url(/css/i/cl/darkblue.png) !important; background-position: 0 50%; background-repeat: no-repeat;}

/* tasks.css */

/* 51  */ .task-darkgray{ background-image: url(/css/i/cl/darkgray.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 52  */ .task-darkgreen{ background-image: url(/css/i/cl/darkgreen.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 53  */ .task-darkmaroon{ background-image: url(/css/i/cl/darkmaroon.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 54  */ .task-darkolive{ background-image: url(/css/i/cl/darkolive.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 55  */ .task-darkorange{ background-image: url(/css/i/cl/darkorange.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 56  */ .task-darkpeach{ background-image: url(/css/i/cl/darkpeach.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 57  */ .task-darkpurple{ background-image: url(/css/i/cl/darkpurple.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 58  */ .task-darkred{ background-image: url(/css/i/cl/darkred.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 59  */ .task-darksteel{ background-image: url(/css/i/cl/darksteel.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 60  */ .task-darkteal{ background-image: url(/css/i/cl/darkteal.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 61  */ .task-darkyellow{ background-image: url(/css/i/cl/darkyellow.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 62  */ 
/* 63  */ .taskview {background-color: #FFF; padding: 10px 15px; font: 13px/normal Arial,sans-serif }
/* 64  */ .taskview h2 { font-weight: bold }
/* 65  */ .taskview h2.completed  { color: #555; text-decoration: line-through }
/* 66  */ .taskview .path {color: #777 }
/* 67  */ 
/* 68  */ .taskview .datetime {padding: 10px 0; }
/* 69  */ .taskview .info {color: #777; padding-bottom: 10px; border-bottom: 1px solid #EEE; }
/* 70  */ .taskview .props {width: 100%; margin-top: 10px; font: 13px/normal Arial,sans-serif; }
/* 71  */ .taskview .props td {padding: 5px 0; vertical-align: top; }
/* 72  */ .taskview .props td.k {width: 1%; padding-right: 15px; color: #777; }
/* 73  */ .taskview .props .status1, .taskStatus1 {font-size: 10px; background-color: #B00; color: #FFF; padding: 1px 3px; margin: 1px 0; display: inline-block; }
/* 74  */ /*.taskview .props .status1, .taskStatus1 {background-color: #EE0000; color: white; padding: 2px 4px; font-weight: normal; }/**/
/* 75  */ .taskview .props .status3, .taskStatus3 {background-color: green; color: white; padding: 2px 4px; font-weight: normal; }
/* 76  */ .taskview .people {
/* 77  */     /*font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; */
/* 78  */     color: #333;
/* 79  */     width: 100%;
/* 80  */     display: table;
/* 81  */     border-collapse: separate;
/* 82  */     border-spacing: 0;
/* 83  */ }
/* 84  */ 
/* 85  */ .people td {vertical-align: top; padding: 5px 5px 5px 0; }
/* 86  */ .people td.user {width: 1% !important; padding-right: 5px; }
/* 87  */ 
/* 88  */ .taskview .people td {vertical-align: top; padding: 5px 5px 5px 0; }
/* 89  */ .taskview .people .user {width: 1% !important; padding-right: 5px; }
/* 90  */ .taskview .people tr a.bt{display: none; margin-left: 5px; } .taskview .people tr:hover a.bt{display: inline; }
/* 91  */ 
/* 92  */ ul.reminders a {text-decoration: none; color: #333; }
/* 93  */ ul.task_files a {text-decoration: underline; color: #15C; }
/* 94  */ ul.reminders li span, ul.task_files li .actions {cursor: hand; display: none }
/* 95  */ ul.reminders li:hover span, ul.task_files li:hover .actions {display: inline-block; }
/* 96  */ .people .done {position: absolute; left: 20px; top: 20px; }
/* 97  */ 
/* 98  */ .task-actions {
/* 99  */     padding: 10px;
/* 100 */     /*border-bottom: 1px solid #ddd;*/

/* tasks.css */

/* 101 */ }
/* 102 */ 
/* 103 */ .task-actions a{
/* 104 */     display: inline-block;
/* 105 */     background-position: 50% 0;
/* 106 */     background-repeat: no-repeat;
/* 107 */     padding: 32px 5px 3px 5px;
/* 108 */     color: gray;
/* 109 */     cursor: hand;
/* 110 */     cursor: pointer;
/* 111 */ }
/* 112 */ .task-actions a:hover {
/* 113 */     text-decoration: none;
/* 114 */     color: black;
/* 115 */ }
/* 116 */ .task-date-status{
/* 117 */ display: inline-block;
/* 118 */ width: 100%;
/* 119 */ }
/* 120 */ 
/* 121 */ .task-date-status div{
/* 122 */ display: inline-block;
/* 123 */ padding: 5px 10px;
/* 124 */ margin: 12px 5px;
/* 125 */ }
/* 126 */ 
/* 127 */ .task-date-status .date{
/* 128 */ float: left;
/* 129 */ }
/* 130 */ 
/* 131 */ .task-date-status .status{
/* 132 */ float: right;
/* 133 */ }
/* 134 */ 
/* Minify_CSS_UriRewriter::$debugText

docRoot    : D:\devel\www\casebox2\web
currentDir : D:\devel\www\casebox2\web\css
symlinks : array (
  'D:\\devel\\www\\casebox2\\web\\generate.php' => 'D:\\devel\\www\\casebox2\\web\\min',
)

file-relative URI  : i/ico/document-invoice.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-invoice.png
docroot stripped   : \css\i\ico\document-invoice.png
traversals removed : /css/i/ico/document-invoice.png

file-relative URI  : i/ico/document-snippet.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-snippet.png
docroot stripped   : \css\i\ico\document-snippet.png
traversals removed : /css/i/ico/document-snippet.png

file-relative URI  : i/ico/arrow-180-small.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-180-small.png
docroot stripped   : \css\i\ico\arrow-180-small.png
traversals removed : /css/i/ico/arrow-180-small.png

file-relative URI  : i/ico/arrow-180-medium.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-180-medium.png
docroot stripped   : \css\i\ico\arrow-180-medium.png
traversals removed : /css/i/ico/arrow-180-medium.png

file-relative URI  : i/ico/arrow-180-medium-green.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-180-medium-green.png
docroot stripped   : \css\i\ico\arrow-180-medium-green.png
traversals removed : /css/i/ico/arrow-180-medium-green.png

file-relative URI  : i/ico/arrow-000-small.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-000-small.png
docroot stripped   : \css\i\ico\arrow-000-small.png
traversals removed : /css/i/ico/arrow-000-small.png

file-relative URI  : i/ico/arrow-000-medium.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-000-medium.png
docroot stripped   : \css\i\ico\arrow-000-medium.png
traversals removed : /css/i/ico/arrow-000-medium.png

file-relative URI  : i/ico/card-address.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\card-address.png
docroot stripped   : \css\i\ico\card-address.png
traversals removed : /css/i/ico/card-address.png

file-relative URI  : i/ico/fire.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\fire.png
docroot stripped   : \css\i\ico\fire.png
traversals removed : /css/i/ico/fire.png

file-relative URI  : i/ico/fire--exclamation.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\fire--exclamation.png
docroot stripped   : \css\i\ico\fire--exclamation.png
traversals removed : /css/i/ico/fire--exclamation.png

file-relative URI  : i/ico/infocard-small.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\infocard-small.png
docroot stripped   : \css\i\ico\infocard-small.png
traversals removed : /css/i/ico/infocard-small.png

file-relative URI  : i/ico/auction-hammer.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\auction-hammer.png
docroot stripped   : \css\i\ico\auction-hammer.png
traversals removed : /css/i/ico/auction-hammer.png

file-relative URI  : i/ico/bank.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\bank.png
docroot stripped   : \css\i\ico\bank.png
traversals removed : /css/i/ico/bank.png

file-relative URI  : i/ico/balance.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\balance.png
docroot stripped   : \css\i\ico\balance.png
traversals removed : /css/i/ico/balance.png

file-relative URI  : i/ico/lightning.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\lightning.png
docroot stripped   : \css\i\ico\lightning.png
traversals removed : /css/i/ico/lightning.png

file-relative URI  : i/ico/balloon.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\balloon.png
docroot stripped   : \css\i\ico\balloon.png
traversals removed : /css/i/ico/balloon.png

file-relative URI  : i/ico/bell.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\bell.png
docroot stripped   : \css\i\ico\bell.png
traversals removed : /css/i/ico/bell.png

file-relative URI  : i/ico/blog-blue.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\blog-blue.png
docroot stripped   : \css\i\ico\blog-blue.png
traversals removed : /css/i/ico/blog-blue.png

file-relative URI  : i/ico/blog-magenta.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\blog-magenta.png
docroot stripped   : \css\i\ico\blog-magenta.png
traversals removed : /css/i/ico/blog-magenta.png

file-relative URI  : i/ico/blue-document-small.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\blue-document-small.png
docroot stripped   : \css\i\ico\blue-document-small.png
traversals removed : /css/i/ico/blue-document-small.png

file-relative URI  : i/ico/document-horizontal-text.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-horizontal-text.png
docroot stripped   : \css\i\ico\document-horizontal-text.png
traversals removed : /css/i/ico/document-horizontal-text.png

file-relative URI  : i/ico/document-medium.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-medium.png
docroot stripped   : \css\i\ico\document-medium.png
traversals removed : /css/i/ico/document-medium.png

file-relative URI  : i/ico/document-stamp.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-stamp.png
docroot stripped   : \css\i\ico\document-stamp.png
traversals removed : /css/i/ico/document-stamp.png

file-relative URI  : i/ico/document-text.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document-text.png
docroot stripped   : \css\i\ico\document-text.png
traversals removed : /css/i/ico/document-text.png

file-relative URI  : i/ico/mail.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\mail.png
docroot stripped   : \css\i\ico\mail.png
traversals removed : /css/i/ico/mail.png

file-relative URI  : i/ico/document.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\document.png
docroot stripped   : \css\i\ico\document.png
traversals removed : /css/i/ico/document.png

file-relative URI  : i/ico/arrow-000-medium.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-000-medium.png
docroot stripped   : \css\i\ico\arrow-000-medium.png
traversals removed : /css/i/ico/arrow-000-medium.png

file-relative URI  : i/ico/arrow-180-medium-green.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\arrow-180-medium-green.png
docroot stripped   : \css\i\ico\arrow-180-medium-green.png
traversals removed : /css/i/ico/arrow-180-medium-green.png

file-relative URI  : i/ico/user-yellow.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-yellow.png
docroot stripped   : \css\i\ico\user-yellow.png
traversals removed : /css/i/ico/user-yellow.png

file-relative URI  : i/ico/user-thief-baldie.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-thief-baldie.png
docroot stripped   : \css\i\ico\user-thief-baldie.png
traversals removed : /css/i/ico/user-thief-baldie.png

file-relative URI  : i/ico/user-gray.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-gray.png
docroot stripped   : \css\i\ico\user-gray.png
traversals removed : /css/i/ico/user-gray.png

file-relative URI  : i/ico/user-black.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-black.png
docroot stripped   : \css\i\ico\user-black.png
traversals removed : /css/i/ico/user-black.png

file-relative URI  : i/ico/building.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\building.png
docroot stripped   : \css\i\ico\building.png
traversals removed : /css/i/ico/building.png

file-relative URI  : i/ico/zone.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\zone.png
docroot stripped   : \css\i\ico\zone.png
traversals removed : /css/i/ico/zone.png

file-relative URI  : i/ico/user-white.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-white.png
docroot stripped   : \css\i\ico\user-white.png
traversals removed : /css/i/ico/user-white.png

file-relative URI  : i/ico/user-thief-baldie.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\user-thief-baldie.png
docroot stripped   : \css\i\ico\user-thief-baldie.png
traversals removed : /css/i/ico/user-thief-baldie.png

*/

/* template_icons.css */

/* 1  */ .icon-template {background-image: url(/css/i/ico/document-invoice.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 2  */ .icon-snippet {background-image: url(/css/i/ico/document-snippet.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 3  */ 
/* 4  */ .icon-arrow-left		{ background-image: url(/css/i/ico/arrow-180-small.png) !important; background-position: 0 50%; background-repeat: no-repeat; padding-left: 16px }
/* 5  */ .icon-arrow-left-medium		{ background-image: url(/css/i/ico/arrow-180-medium.png) !important; background-position: 0 50%; background-repeat: no-repeat !important; padding-left: 16px }
/* 6  */ .icon-arrow-left-medium-green	{ background-image: url(/css/i/ico/arrow-180-medium-green.png) !important; background-position: 0 50%; background-repeat: no-repeat !important; padding-left: 16px }
/* 7  */ .icon-arrow-right		{ background-image: url(/css/i/ico/arrow-000-small.png) !important; background-position: 0 50%; background-repeat: no-repeat; padding-left: 16px }
/* 8  */ .icon-arrow-right-medium	{ background-image: url(/css/i/ico/arrow-000-medium.png) !important; background-position: 0 50%; background-repeat: no-repeat !important; padding-left: 16px }
/* 9  */ .icon-case_card			{ background-image:url(/css/i/ico/card-address.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 10 */ .icon-complaint			{ background-image: url(/css/i/ico/fire.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 11 */ .icon-complaint-subjects	{ background-image: url(/css/i/ico/fire--exclamation.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 12 */ .icon-info-action		{ background-image:url(/css/i/ico/infocard-small.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 13 */ .icon-decision			{ background-image:url(/css/i/ico/auction-hammer.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 14 */ .icon-echr_complaint 		{ background-image:url(/css/i/ico/bank.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 15 */ .icon-echr_decision		{ background-image:url(/css/i/ico/balance.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 16 */ .icon-petition			{ background-image:url(/css/i/ico/lightning.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 17 */ .icon-balloon			{ background-image: url(/css/i/ico/balloon.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 18 */ .icon-bell			{ background-image:url(/css/i/ico/bell.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 19 */ .icon-blog-blue			{ background-image: url(/css/i/ico/blog-blue.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 20 */ .icon-blog-magenta		{ background-image: url(/css/i/ico/blog-magenta.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 21 */ .icon-blue-document-small	{ background-image: url(/css/i/ico/blue-document-small.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 22 */ .icon-committee-phase 		{ background-image: url(/css/i/ico/document-horizontal-text.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 23 */ .icon-document-medium		{ background-image: url(/css/i/ico/document-medium.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 24 */ .icon-document-stamp		{ background-image: url(/css/i/ico/document-stamp.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 25 */ .icon-document-text		{ background-image: url(/css/i/ico/document-text.png) !important; background-position: 0% 50%; background-repeat: no-repeat }
/* 26 */ .icon-mail			{ background-image:url(/css/i/ico/mail.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 27 */ .icon-object1			{ background-image: url(/css/i/ico/document.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* case object */
/* 28 */ .icon-object2			{ background-image: url(/css/i/ico/arrow-000-medium.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* incomming action */
/* 29 */ .icon-object3			{ background-image: url(/css/i/ico/arrow-180-medium-green.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* outgoing action */
/* 30 */ .icon-object4			{ background-image: url(/css/i/ico/user-yellow.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* applicant */
/* 31 */ .icon-object5           { background-image: url(/css/i/ico/user-thief-baldie.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* subject */
/* 32 */ .icon-object6           { background-image: url(/css/i/ico/user-gray.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* user */
/* 33 */ .icon-object7           { background-image: url(/css/i/ico/user-black.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* contact */
/* 34 */ .icon-object8           { background-image: url(/css/i/ico/building.png) !important; background-position: 0 50%; background-repeat: no-repeat} /* organization */
/* 35 */ .icon-zone          { background-image: url(/css/i/ico/zone.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 36 */ .icon-applicant         { background-image: url(/css/i/ico/user-white.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 37 */ .icon-suspect			{ background-image: url(/css/i/ico/user-thief-baldie.png) !important; background-position: 0 50%; background-repeat: no-repeat;}
/* 38 */ 
/* Minify_CSS_UriRewriter::$debugText

docRoot    : D:\devel\www\casebox2\web
currentDir : D:\devel\www\casebox2\web\css
symlinks : array (
  'D:\\devel\\www\\casebox2\\web\\generate.php' => 'D:\\devel\\www\\casebox2\\web\\min',
)

file-relative URI  : i/ico/tag-small.png
path prepended     : D:\devel\www\casebox2\web\css\i\ico\tag-small.png
docroot stripped   : \css\i\ico\tag-small.png
traversals removed : /css/i/ico/tag-small.png

*/

/* common.css */

/* 1   */ @charset "utf-8";
/* 2   */ /* Common CSS Document */
/* 3   */ .fs8, .fs8 *{ font-size: 8px}
/* 4   */ .fs10, .fs10 *{ font-size: 10px}
/* 5   */ .fs11, .fs11 *{ font-size: 11px !important}
/* 6   */ .fs12, .fs12 *{ font-size: 12px !important}
/* 7   */ .fs13 *{ font-size: 13px }
/* 8   */ .fs14 *{ font-size: 14px }
/* 9   */ .fs16 *{ font-size: 16px }
/* 10  */ .fs18 *{ font-size: 18px }
/* 11  */ .fs20, .fs20 *{ font-size: 20px !important}
/* 12  */ .fwN{ font-weight: normal }
/* 13  */ .fwB, .fwB *{ font-weight: bold !important }
/* 14  */ .fsN{ font-style: normal }
/* 15  */ .fsI{ font-style: italic }
/* 16  */ .tdN{ text-decoration: none }
/* 17  */ .tdU{ text-decoration: underline }
/* 18  */ 
/* 19  */ .taL{ text-align: left }
/* 20  */ .taC{ text-align: center }
/* 21  */ .taJ{ text-align: justify }
/* 22  */ .taR{ text-align: right }
/* 23  */ .ttU{ text-transform: uppercase }
/* 24  */ .vaT, .vaT td{ vertical-align: top !important}
/* 25  */ .dIB{display: inline-block !important}
/* 26  */ .dn{display: none}
/* 27  */ 
/* 28  */ .cW{ color: white }
/* 29  */ .cB{ color: black }
/* 30  */ .cO{ color: #D36E01 } /* dark orange*/
/* 31  */ .cBl, .cBl *{ color: blue !important}
/* 32  */ .cG, .cG *{ color: gray !important }
/* 33  */ .cGR, .cGR *{ color: green !important }
/* 34  */ .cLG{ color:#CCCCCC }
/* 35  */ .cR{ color: red }
/* 36  */ .cRequired{ color: #C00 }
/* 37  */ .cM, .cM *{ color: maroon !important }
/* 38  */ .cDB, .cDB *{ color: #356AA0 !important } /*DiggBlue*/
/* 39  */ .bgcLG, .bgclg{ background-color: #eee }
/* 40  */ .bgcW{ background-color: #FFF !important }
/* 41  */ .bgcY{ background-color: #FFFF88 !important } /*Interactive action yellow*/
/* 42  */ .bgcLR{ background-color: #FFCCCC !important }
/* 43  */ .gr {color: #777}
/* 44  */ 
/* 45  */ .bgpLT{ background-position: 0 2px}
/* 46  */ .op02{opacity: 0.2}
/* 47  */ .op03{opacity: 0.3}
/* 48  */ .op05{opacity: 0.5}
/* 49  */ .op1{opacity: inherit}
/* 50  */ 

/* common.css */

/* 51  */ .p2{ padding: 2px }
/* 52  */ .p5{ padding: 5px }
/* 53  */ .p10{ padding: 10px }
/* 54  */ .p15{ padding: 15px }
/* 55  */ .p20{ padding: 20px }
/* 56  */ .pt10{ padding-top: 10px }
/* 57  */ .pl7{ padding-left: 7px }
/* 58  */ .pl10{ padding-left: 10px }
/* 59  */ .pb5{ padding-bottom: 5px }
/* 60  */ .pb10{ padding-bottom: 10px }
/* 61  */ .wsn, .wsn .x-grid3-cell-inner{ white-space: normal !important }
/* 62  */ .fl{ float: left }
/* 63  */ .fr{ float: right }
/* 64  */ .lh14{ line-height: 14px }
/* 65  */ .lh16{ line-height: 16px }
/* 66  */ .lh20{ line-height: 20px }
/* 67  */ .lh22{ line-height: 22px }
/* 68  */ .btg {border-top: 1px solid #EEE !important}
/* 69  */ .brg {border-right: 1px solid #EEE !important}
/* 70  */ .bbg {border-bottom: 1px solid #EEE !important}
/* 71  */ .blg {border-top: 1px solid #EEE !important}
/* 72  */ 
/* 73  */ .file32{ padding-left:37px; min-height:33px; background-position: 0 50%; background-repeat: no-repeat }
/* 74  */ .file-attach{ background-image:url(/css/i/ico/32/document-attach.png) !important; background-position: 0 50%; background-repeat: no-repeat }
/* 75  */ 
/* 76  */ .file-32, .file-unknown32 { background-image:url(/css/i/ext/32/.png) !important; background-repeat: no-repeat; min-height:33px; min-width:33px;}
/* 77  */ .file-mp332{ background-image:url(/css/i/ext/32/mp2.png) !important}
/* 78  */ .file-avi32{ background-image:url(/css/i/ext/32/film.png) !important}
/* 79  */ 
/* 80  */ .file-3gp32{ background-image:url(/css/i/ext/32/3gp.png) !important}
/* 81  */ .file-7z32{ background-image:url(/css/i/ext/32/7z.png) !important}
/* 82  */ .file-ace32{ background-image:url(/css/i/ext/32/ace.png) !important}
/* 83  */ .file-ai32{ background-image:url(/css/i/ext/32/ai.png) !important}
/* 84  */ .file-aif32{ background-image:url(/css/i/ext/32/aif.png) !important}
/* 85  */ .file-aiff32{ background-image:url(/css/i/ext/32/aiff.png) !important}
/* 86  */ .file-amr32{ background-image:url(/css/i/ext/32/amr.png) !important}
/* 87  */ .file-asf32{ background-image:url(/css/i/ext/32/asf.png) !important}
/* 88  */ .file-asx32{ background-image:url(/css/i/ext/32/asx.png) !important}
/* 89  */ .file-bat32{ background-image:url(/css/i/ext/32/bat.png) !important}
/* 90  */ .file-bin32{ background-image:url(/css/i/ext/32/bin.png) !important}
/* 91  */ .file-bmp32{ background-image:url(/css/i/ext/32/bmp.png) !important}
/* 92  */ .file-bup32{ background-image:url(/css/i/ext/32/bup.png) !important}
/* 93  */ .file-cab32{ background-image:url(/css/i/ext/32/cab.png) !important}
/* 94  */ .file-cbr32{ background-image:url(/css/i/ext/32/cbr.png) !important}
/* 95  */ .file-cda32{ background-image:url(/css/i/ext/32/cda.png) !important}
/* 96  */ .file-cdl32{ background-image:url(/css/i/ext/32/cdl.png) !important}
/* 97  */ .file-cdr32{ background-image:url(/css/i/ext/32/cdr.png) !important}
/* 98  */ .file-chm32{ background-image:url(/css/i/ext/32/chm.png) !important}
/* 99  */ .file-dat32{ background-image:url(/css/i/ext/32/dat.png) !important}
/* 100 */ .file-divx32{ background-image:url(/css/i/ext/32/divx.png) !important}

/* common.css */

/* 101 */ .file-dll32{ background-image:url(/css/i/ext/32/dll.png) !important}
/* 102 */ .file-dmg32{ background-image:url(/css/i/ext/32/dmg.png) !important}
/* 103 */ .file-doc32, .file-docx32{ background-image:url(/css/i/ext/32/doc.png) !important}
/* 104 */ .file-dss32{ background-image:url(/css/i/ext/32/dss.png) !important}
/* 105 */ .file-dvf32{ background-image:url(/css/i/ext/32/dvf.png) !important}
/* 106 */ .file-dwg32{ background-image:url(/css/i/ext/32/dwg.png) !important}
/* 107 */ .file-eml32{ background-image:url(/css/i/ext/32/eml.png) !important}
/* 108 */ .file-eps32{ background-image:url(/css/i/ext/32/eps.png) !important}
/* 109 */ .file-exe32{ background-image:url(/css/i/ext/32/exe.png) !important}
/* 110 */ .file-film32{ background-image:url(/css/i/ext/32/film.png) !important}
/* 111 */ .file-fla32{ background-image:url(/css/i/ext/32/fla.png) !important}
/* 112 */ .file-flv32{ background-image:url(/css/i/ext/32/flv.png) !important}
/* 113 */ .file-gif32{ background-image:url(/css/i/ext/32/gif.png) !important}
/* 114 */ .file-gz32{ background-image:url(/css/i/ext/32/gz.png) !important}
/* 115 */ .file-hqx32{ background-image:url(/css/i/ext/32/hqx.png) !important}
/* 116 */ .file-htm32{ background-image:url(/css/i/ext/32/htm.png) !important}
/* 117 */ .file-html32{ background-image:url(/css/i/ext/32/html.png) !important}
/* 118 */ .file-ifo32{ background-image:url(/css/i/ext/32/ifo.png) !important}
/* 119 */ .file-indd32{ background-image:url(/css/i/ext/32/indd.png) !important}
/* 120 */ .file-iso32{ background-image:url(/css/i/ext/32/iso.png) !important}
/* 121 */ .file-jar32{ background-image:url(/css/i/ext/32/jar.png) !important}
/* 122 */ .file-jpeg32{ background-image:url(/css/i/ext/32/jpeg.png) !important}
/* 123 */ .file-jpg32{ background-image:url(/css/i/ext/32/jpg.png) !important}
/* 124 */ .file-lnk32{ background-image:url(/css/i/ext/32/lnk.png) !important}
/* 125 */ .file-log32{ background-image:url(/css/i/ext/32/log.png) !important}
/* 126 */ .file-m4a32{ background-image:url(/css/i/ext/32/m4a.png) !important}
/* 127 */ .file-m4b32{ background-image:url(/css/i/ext/32/m4b.png) !important}
/* 128 */ .file-m4p32{ background-image:url(/css/i/ext/32/m4p.png) !important}
/* 129 */ .file-m4v32{ background-image:url(/css/i/ext/32/m4v.png) !important}
/* 130 */ .file-mcd32{ background-image:url(/css/i/ext/32/mcd.png) !important}
/* 131 */ .file-mdb32{ background-image:url(/css/i/ext/32/mdb.png) !important}
/* 132 */ .file-mid32{ background-image:url(/css/i/ext/32/mid.png) !important}
/* 133 */ .file-mov32{ background-image:url(/css/i/ext/32/mov.png) !important}
/* 134 */ .file-mp232{ background-image:url(/css/i/ext/32/mp2.png) !important}
/* 135 */ .file-mp432{ background-image:url(/css/i/ext/32/mp4.png) !important}
/* 136 */ .file-mpeg32{ background-image:url(/css/i/ext/32/mpeg.png) !important}
/* 137 */ .file-mpg32{ background-image:url(/css/i/ext/32/mpg.png) !important}
/* 138 */ .file-msi32{ background-image:url(/css/i/ext/32/msi.png) !important}
/* 139 */ .file-mswmm32{ background-image:url(/css/i/ext/32/mswmm.png) !important}
/* 140 */ .file-ogg32{ background-image:url(/css/i/ext/32/ogg.png) !important}
/* 141 */ .file-pdf32{ background-image:url(/css/i/ext/32/pdf.png) !important}
/* 142 */ .file-png32{ background-image:url(/css/i/ext/32/png.png) !important}
/* 143 */ .file-pps32, .file-ppsx32{ background-image:url(/css/i/ext/32/pps.png) !important}
/* 144 */ .file-ps32{ background-image:url(/css/i/ext/32/ps.png) !important}
/* 145 */ .file-psd32{ background-image:url(/css/i/ext/32/psd.png) !important}
/* 146 */ .file-pst32{ background-image:url(/css/i/ext/32/pst.png) !important}
/* 147 */ .file-ptb32{ background-image:url(/css/i/ext/32/ptb.png) !important}
/* 148 */ .file-pub32{ background-image:url(/css/i/ext/32/pub.png) !important}
/* 149 */ .file-qbb32{ background-image:url(/css/i/ext/32/qbb.png) !important}
/* 150 */ .file-qbw32{ background-image:url(/css/i/ext/32/qbw.png) !important}

/* common.css */

/* 151 */ .file-qxd32{ background-image:url(/css/i/ext/32/qxd.png) !important}
/* 152 */ .file-ram32{ background-image:url(/css/i/ext/32/ram.png) !important}
/* 153 */ .file-rar32{ background-image:url(/css/i/ext/32/rar.png) !important}
/* 154 */ .file-rm32{ background-image:url(/css/i/ext/32/rm.png) !important}
/* 155 */ .file-rmvb32{ background-image:url(/css/i/ext/32/rmvb.png) !important}
/* 156 */ .file-rtf32{ background-image:url(/css/i/ext/32/rtf.png) !important}
/* 157 */ .file-sea32{ background-image:url(/css/i/ext/32/sea.png) !important}
/* 158 */ .file-ses32{ background-image:url(/css/i/ext/32/ses.png) !important}
/* 159 */ .file-sit32{ background-image:url(/css/i/ext/32/sit.png) !important}
/* 160 */ .file-sitx32{ background-image:url(/css/i/ext/32/sitx.png) !important}
/* 161 */ .file-ss32{ background-image:url(/css/i/ext/32/ss.png) !important}
/* 162 */ .file-swf32{ background-image:url(/css/i/ext/32/swf.png) !important}
/* 163 */ .file-tgz32{ background-image:url(/css/i/ext/32/tgz.png) !important}
/* 164 */ .file-thm32{ background-image:url(/css/i/ext/32/thm.png) !important}
/* 165 */ .file-tif32, .file-tiff32{ background-image:url(/css/i/ext/32/tif.png) !important}
/* 166 */ .file-tmp32{ background-image:url(/css/i/ext/32/tmp.png) !important}
/* 167 */ .file-torrent32{ background-image:url(/css/i/ext/32/torrent.png) !important}
/* 168 */ .file-ttf32{ background-image:url(/css/i/ext/32/ttf.png) !important}
/* 169 */ .file-txt32{ background-image:url(/css/i/ext/32/txt.png) !important}
/* 170 */ .file-vcd32{ background-image:url(/css/i/ext/32/vcd.png) !important}
/* 171 */ .file-vob32{ background-image:url(/css/i/ext/32/vob.png) !important}
/* 172 */ .file-wav32{ background-image:url(/css/i/ext/32/wav.png) !important}
/* 173 */ .file-wma32{ background-image:url(/css/i/ext/32/wma.png) !important}
/* 174 */ .file-wmv32{ background-image:url(/css/i/ext/32/wmv.png) !important}
/* 175 */ .file-wps32{ background-image:url(/css/i/ext/32/wps.png) !important}
/* 176 */ .file-xls32, .file-xlsx32{ background-image:url(/css/i/ext/32/xls.png) !important}
/* 177 */ .file-xpi32{ background-image:url(/css/i/ext/32/xpi.png) !important}
/* 178 */ .file-zip32{ background-image:url(/css/i/ext/32/zip.png) !important}
/* 179 */ 
/* 180 */ 
/* 181 */ 
/* 182 */ .file{ padding-left: 17px !important; padding-top: 0; background-position: 0 50%; background-repeat: no-repeat; }
/* 183 */ a.file{min-height: 16px; display: inline-block}
/* 184 */ .file-grid-cell{ text-indent: 15px !important; padding-top: 0; background-position: 0 50% }
/* 185 */ 
/* 186 */ .file-, .file-unknown { background-image:url(/css/i/ext/.png) !important; background-position: 0 0%; background-repeat: no-repeat; min-width: 16px; }
/* 187 */ 
/* 188 */ .file-ppt, .file-pptx { background-image:url(/css/i/ext/ppt.png) !important }
/* 189 */ .file-mp3 { background-image:url(/css/i/ext/mp3.png) !important }
/* 190 */ .file-avi { background-image:url(/css/i/ext/avi.png) !important }
/* 191 */ .file-jp2, .file-j2k, .file-pcx, .file-ppm, .file-tga{ background-image:url(/css/i/ext/img.png) !important }
/* 192 */ 
/* 193 */ .file-3gp{ background-image:url(/css/i/ext/3gp.png) !important}
/* 194 */ .file-7z{ background-image:url(/css/i/ext/7z.png) !important}
/* 195 */ .file-ace{ background-image:url(/css/i/ext/ace.png) !important}
/* 196 */ .file-ai{ background-image:url(/css/i/ext/ai.png) !important}
/* 197 */ .file-aif{ background-image:url(/css/i/ext/aif.png) !important}
/* 198 */ .file-aiff{ background-image:url(/css/i/ext/aiff.png) !important}
/* 199 */ .file-amr{ background-image:url(/css/i/ext/amr.png) !important}
/* 200 */ .file-asf{ background-image:url(/css/i/ext/asf.png) !important}

/* common.css */

/* 201 */ .file-asx{ background-image:url(/css/i/ext/asx.png) !important}
/* 202 */ .file-bat{ background-image:url(/css/i/ext/bat.png) !important}
/* 203 */ .file-bin{ background-image:url(/css/i/ext/bin.png) !important}
/* 204 */ .file-bmp{ background-image:url(/css/i/ext/bmp.png) !important}
/* 205 */ .file-bup{ background-image:url(/css/i/ext/bup.png) !important}
/* 206 */ .file-cab{ background-image:url(/css/i/ext/cab.png) !important}
/* 207 */ .file-cbr{ background-image:url(/css/i/ext/cbr.png) !important}
/* 208 */ .file-cda{ background-image:url(/css/i/ext/cda.png) !important}
/* 209 */ .file-cdl{ background-image:url(/css/i/ext/cdl.png) !important}
/* 210 */ .file-cdr{ background-image:url(/css/i/ext/cdr.png) !important}
/* 211 */ .file-chm{ background-image:url(/css/i/ext/chm.png) !important}
/* 212 */ .file-dat{ background-image:url(/css/i/ext/dat.png) !important}
/* 213 */ .file-divx{ background-image:url(/css/i/ext/divx.png) !important}
/* 214 */ .file-dll{ background-image:url(/css/i/ext/dll.png) !important}
/* 215 */ .file-dmg{ background-image:url(/css/i/ext/dmg.png) !important}
/* 216 */ .file-doc, .file-docx{ background-image:url(/css/i/ext/doc.png) !important}
/* 217 */ .file-dss{ background-image:url(/css/i/ext/dss.png) !important}
/* 218 */ .file-dvf{ background-image:url(/css/i/ext/dvf.png) !important}
/* 219 */ .file-dwg{ background-image:url(/css/i/ext/dwg.png) !important}
/* 220 */ .file-eml{ background-image:url(/css/i/ext/eml.png) !important}
/* 221 */ .file-eps{ background-image:url(/css/i/ext/eps.png) !important}
/* 222 */ .file-exe{ background-image:url(/css/i/ext/exe.png) !important}
/* 223 */ .file-fla{ background-image:url(/css/i/ext/fla.png) !important}
/* 224 */ .file-flv{ background-image:url(/css/i/ext/flv.png) !important}
/* 225 */ .file-gif{ background-image:url(/css/i/ext/gif.png) !important}
/* 226 */ .file-gz{ background-image:url(/css/i/ext/gz.png) !important}
/* 227 */ .file-hqx{ background-image:url(/css/i/ext/hqx.png) !important}
/* 228 */ .file-htm{ background-image:url(/css/i/ext/htm.png) !important}
/* 229 */ .file-html{ background-image:url(/css/i/ext/html.png) !important}
/* 230 */ .file-ifo{ background-image:url(/css/i/ext/ifo.png) !important}
/* 231 */ .file-indd{ background-image:url(/css/i/ext/indd.png) !important}
/* 232 */ .file-iso{ background-image:url(/css/i/ext/iso.png) !important}
/* 233 */ .file-jar{ background-image:url(/css/i/ext/jar.png) !important}
/* 234 */ .file-jpeg{ background-image:url(/css/i/ext/jpeg.png) !important}
/* 235 */ .file-jpg{ background-image:url(/css/i/ext/jpg.png) !important}
/* 236 */ .file-lnk{ background-image:url(/css/i/ext/lnk.png) !important}
/* 237 */ .file-log{ background-image:url(/css/i/ext/log.png) !important}
/* 238 */ .file-m4a{ background-image:url(/css/i/ext/m4a.png) !important}
/* 239 */ .file-m4b{ background-image:url(/css/i/ext/m4b.png) !important}
/* 240 */ .file-m4p{ background-image:url(/css/i/ext/m4p.png) !important}
/* 241 */ .file-m4v{ background-image:url(/css/i/ext/m4v.png) !important}
/* 242 */ .file-mcd{ background-image:url(/css/i/ext/mcd.png) !important}
/* 243 */ .file-mdb{ background-image:url(/css/i/ext/mdb.png) !important}
/* 244 */ .file-mid{ background-image:url(/css/i/ext/mid.png) !important}
/* 245 */ .file-mov{ background-image:url(/css/i/ext/mov.png) !important}
/* 246 */ .file-mp2{ background-image:url(/css/i/ext/mp2.png) !important}
/* 247 */ .file-mp4{ background-image:url(/css/i/ext/mp4.png) !important}
/* 248 */ .file-mpeg{ background-image:url(/css/i/ext/mpeg.png) !important}
/* 249 */ .file-mpg{ background-image:url(/css/i/ext/mpg.png) !important}
/* 250 */ .file-msi{ background-image:url(/css/i/ext/msi.png) !important}

/* common.css */

/* 251 */ .file-mswmm{ background-image:url(/css/i/ext/mswmm.png) !important}
/* 252 */ .file-ogg{ background-image:url(/css/i/ext/ogg.png) !important}
/* 253 */ .file-pdf{ background-image:url(/css/i/ext/pdf.png) !important}
/* 254 */ .file-png{ background-image:url(/css/i/ext/png.png) !important}
/* 255 */ .file-pps{ background-image:url(/css/i/ext/pps.png) !important}
/* 256 */ .file-ps{ background-image:url(/css/i/ext/ps.png) !important}
/* 257 */ .file-psd{ background-image:url(/css/i/ext/psd.png) !important}
/* 258 */ .file-pst{ background-image:url(/css/i/ext/pst.png) !important}
/* 259 */ .file-ptb{ background-image:url(/css/i/ext/ptb.png) !important}
/* 260 */ .file-pub{ background-image:url(/css/i/ext/pub.png) !important}
/* 261 */ .file-qbb{ background-image:url(/css/i/ext/qbb.png) !important}
/* 262 */ .file-qbw{ background-image:url(/css/i/ext/qbw.png) !important}
/* 263 */ .file-qxd{ background-image:url(/css/i/ext/qxd.png) !important}
/* 264 */ .file-ram{ background-image:url(/css/i/ext/ram.png) !important}
/* 265 */ .file-rar{ background-image:url(/css/i/ext/rar.png) !important}
/* 266 */ .file-rm{ background-image:url(/css/i/ext/rm.png) !important}
/* 267 */ .file-rmvb{ background-image:url(/css/i/ext/rmvb.png) !important}
/* 268 */ .file-rtf{ background-image:url(/css/i/ext/rtf.png) !important}
/* 269 */ .file-sea{ background-image:url(/css/i/ext/sea.png) !important}
/* 270 */ .file-ses{ background-image:url(/css/i/ext/ses.png) !important}
/* 271 */ .file-sit{ background-image:url(/css/i/ext/sit.png) !important}
/* 272 */ .file-sitx{ background-image:url(/css/i/ext/sitx.png) !important}
/* 273 */ .file-ss{ background-image:url(/css/i/ext/ss.png) !important}
/* 274 */ .file-swf{ background-image:url(/css/i/ext/swf.png) !important}
/* 275 */ .file-tgz{ background-image:url(/css/i/ext/tgz.png) !important}
/* 276 */ .file-thm{ background-image:url(/css/i/ext/thm.png) !important}
/* 277 */ .file-tif, .file-tiff{ background-image:url(/css/i/ext/tif.png) !important}
/* 278 */ .file-tmp{ background-image:url(/css/i/ext/tmp.png) !important}
/* 279 */ .file-torrent{ background-image:url(/css/i/ext/torrent.png) !important}
/* 280 */ .file-ttf{ background-image:url(/css/i/ext/ttf.png) !important}
/* 281 */ .file-txt{ background-image:url(/css/i/ext/txt.png) !important}
/* 282 */ .file-vcd{ background-image:url(/css/i/ext/vcd.png) !important}
/* 283 */ .file-vob{ background-image:url(/css/i/ext/vob.png) !important}
/* 284 */ .file-wav{ background-image:url(/css/i/ext/wav.png) !important}
/* 285 */ .file-wma{ background-image:url(/css/i/ext/wma.png) !important}
/* 286 */ .file-wmv{ background-image:url(/css/i/ext/wmv.png) !important}
/* 287 */ .file-wps{ background-image:url(/css/i/ext/wps.png) !important}
/* 288 */ .file-xls, .file-xlsx{ background-image:url(/css/i/ext/xls.png) !important}
/* 289 */ .file-xpi{ background-image:url(/css/i/ext/xpi.png) !important}
/* 290 */ .file-zip{ background-image:url(/css/i/ext/zip.png) !important}
/* 291 */ 
/* 292 */ 
/* 293 */ .icon-none{background: none !important}
/* 294 */ .i16{width: 16px; height: 16px}
/* 295 */ .i16u{width: 16px; height: 16px; background-image:url(/css/i/ext/.png)}
/* 296 */ .i24{width: 24px; height: 24px}
/* 297 */ .i32{width: 32px; height: 32px}
/* 298 */ .i40{width: 40px; height: 40px}
/* 299 */ 
/* 300 */ .icon-padding, .icon-padding .x-grid3-cell-inner { padding-left: 22px !important; min-height: 16px}

/* common.css */

/* 301 */ .icon-padding2, .icon-padding2 .x-grid3-cell-inner { padding-left: 44px; background-position: 22px 50% !important }
/* 302 */ .icon-padding3, .icon-padding3 .x-grid3-cell-inner { padding-left: 44px; background-position: 44px 50% !important }
/* 303 */ 
/* 304 */ .x-rtl .icon-padding, .x-rtl .icon-padding .x-grid3-cell-inner { padding-right: 22px !important; min-height: 16px; background-position: 100% 50%;}
/* 305 */ .icon-padding16 { padding-left: 16px !important; min-height: 16px !important }
/* 306 */ 
/* 307 */ 
/* 308 */ .icon-tag-small{ background-image: url(/css/i/ico/tag-small.png) !important; background-position: 0 50%; background-repeat: no-repeat}
/* 309 */ 
/* 310 */ .bgs32{background-size: 32px 32px}
/* 311 */ .wsNW {white-space: nowrap}
/* 312 */ .click, .header-click{ cursor: hand; cursor: pointer; text-decoration: none }
/* 313 */ .click:hover{ color: #286bcc !important; text-decoration: underline }
/* 314 */ .header-click:hover{ color: #286bcc !important; text-decoration: none }
/* 315 */ 
/* 316 */ 
/* 317 */ /* object field, renderer=listObjIcons */
/* 318 */ ul.clean {list-style: none; margin: 0; padding: 0; }
/* 319 */ ul.clean li { margin: 0; padding: 0; }
/* 320 */ ul.with-icons li {padding-left: 20px; white-space: nowrap}
/* 321 */ ol.ol {list-style: decimal inside !important;}
/* 322 */ img.fit-img {
/* 323 */     max-width: 100%;
/* 324 */     max-height: 100%;
/* 325 */ }
/* 326 */ 
