{% extends 'CaseboxCoreBundle::login.html.twig' %}

{% block form %}
    <script type="text/javascript">
        //<--
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, "");
        };
        function editChanged() {
            var s = document.getElementById('s');
            if (!s) {
                return;
            }
            var e = document.getElementById('e'),
                u = document.getElementById('u'),
                p = document.getElementById('p'),
                p2 = document.getElementById('p2');
            if (e && u) {
                s.disabled = ((e && (e.value.trim() == '') ) && (u && (u.value.trim() == '') ));
            }
            if (p && p2) {
                s.disabled = ((p.value.trim() == '') || (p.value != p2.value));
            }
            setTimeout(editChanged, 500)
        }
        //-->
    </script>

    <form method="post" action="/c/{{ coreName }}/recover/forgot-password" class="standart_form tal" autocomplete="off">
        <p>Enter your email address:</p>
        <p>
            <label>
                <input type="email" name="e" id="e" aria-label="E-mail" placeholder="E-mail">
                <span class="icon-envelope" title="E-mail" ></span>
            </label>
        </p>
        <p>OR</p>
        <p></p>
        <p>Specify the user name:</p>
        <p>
            <label>
                <input type="text" name="u" id="u" aria-label="Username" placeholder="Username">
                <span class="icon-user" title="Username" ></span>
            </label>
            <a style="margin-top: 30px;" class="pull-right" href="/c/{{ coreName }}/login">{{ 'Login'|trans }}</a>
            <input type="submit" name="s" id="s" value="Continue" class="btn btn-info" style="margin-top: 26px;" disabled="">
        </p>
    </form>
{% endblock %}