{% extends 'CaseboxCoreBundle::login.html.twig' %}

{% block form %}
    <script type="text/javascript">
        //<--
        String.prototype.trim = function () {
            return this.replace(/^\s+|\s+$/g, "");
        };
        function editChanged() {
            var s = document.getElementById('s');
            if (!s) {
                return;
            }
            var e = document.getElementById('e'),
                    u = document.getElementById('u'),
                    p = document.getElementById('p'),
                    p2 = document.getElementById('p2');
            if (e && u) {
                s.disabled = ((e && (e.value.trim() == '') ) && (u && (u.value.trim() == '') ));
            }
            if (p && p2) {
                s.disabled = ((p.value.trim() == '') || (p.value != p2.value));
            }
            setTimeout(editChanged, 500)
        }
        //-->
    </script>

    <form method="post" action="/c/{{ coreName }}/recover/reset-password" class="standart_form tal" autocomplete="off">
        <label>
            <input type="password" name="p" id="p" placeholder="New password" onkeydown="javascript:editChanged()">
            <span class="icon-lock"></span>
        </label>
        <label>
            <input type="password" name="p2" id="p2" placeholder="Confirm password" onkeydown="javascript:editChanged()">
            <span class="icon-lock"></span>
        </label>
        <input type="submit" name="s" id="s" value="Continue" class="btn btn-info" style="margin-top: 26px;" disabled="">
        <input type="hidden" name="token" value="{{ token }}" />
    </form>
{% endblock %}